
.header {
  display: flex;
  height: 200px;
  border: 1px solid #73ff1c;
  border-radius: 5px;
  margin: 20px 0;
}
//.header p {
//  margin: 0 auto;
//  font-weight: bold;
//  font-size: 200%;
//  display: flex;
//  align-items: center;
//
//}
//.description {
//  display: inline-block;
//  width: 24%;
//  vertical-align: top;
//  min-height: 300px;
//}
//.author {
//  font-weight: bold;
//  font-style: italic;
//}
//.description > div.first_d {
//  min-height: 150px;
//  padding: 10px;
//}
//.like_b {
//  font-weight: bold;
//}
//.table.table-striped.table-bordered {
//  display: none;
//}
//
//.footer {
//  padding: 10px;
//  border-width: 1px;
//  border-color: #9babff;
//  border-style: solid;
//  border-radius: 15px;
//  height: 75px;
//  background-color: #f89a1f;
//  margin: 10px 0 30px;
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

